<ion-content class="ion-padding">
  <div class="login-wrapper">
    
    <div class="login-card">
      
      <div class="logo-container">
        <img src="assets/icon/EatWell.png" alt="Logo de EatWell" class="real-logo" />
      </div>

      <div class="form-box">
        <div class="input-group">
          <ion-input type="text" placeholder="Correo o usuario" class="custom-field" [(ngModel)]="email"></ion-input>
        </div>

        <div class="input-group">
          <ion-input type="password" placeholder="Contraseña" class="custom-field" [(ngModel)]="password"></ion-input>
        </div>

        <ion-button expand="block" class="btn-login" (click)="login()">
          Iniciar sesión
        </ion-button>
      </div>

      <div class="navigation-links">
        <p class="signup-link" routerLink="/registro">¿No tienes cuenta? <span>Regístrate</span></p>
      </div>

    </div>

  </div>
</ion-content>
