<ion-content class="ion-padding">
  <div class="login-wrapper">
    
    <div class="login-card">
      
      <div class="logo-container">
        <img src="/assets/icon/EatWell.png" alt="EatWell logo" class="real-logo" />
      </div>

      <div class="form-box">
        <div class="input-group">
          <ion-input type="text" placeholder="Email or username" class="custom-field" [(ngModel)]="email"></ion-input>
        </div>

        <div class="input-group">
          <ion-input type="password" placeholder="Password" class="custom-field" [(ngModel)]="password"></ion-input>
        </div>

        <ion-button expand="block" class="btn-login" (click)="login()">
          Login
        </ion-button>
      </div>

      <div class="navigation-links">
        <p class="signup-link" routerLink="/registro">Don't have an account? <span>Sign up</span></p>
      </div>

    </div>

  </div>
</ion-content>
