<ion-content class="perfil-content">
  <div class="perfil-wrapper">
    <div class="perfil-top">
      <div class="avatar-card">
        <div class="avatar-frame">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class="camera-badge">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </div>
    </div>

  <h1 class="page-title">Hi Gabriel, complete your information.</h1>

  <div class="form-card">
    <ion-item class="field-item">
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input type="text" placeholder="Gabriel Alonso"></ion-input>
    </ion-item>

    <ion-item class="field-item">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="ejemplo123@gmail.com"></ion-input>
    </ion-item>

    <div class="row-fields">
      <ion-item class="field-item half">
        <ion-label position="stacked">Weight</ion-label>
        <div class="input-with-unit">
          <ion-input type="number" placeholder="55"></ion-input>
          <span class="unit-pill">LBS KG</span>
        </div>
      </ion-item>

      <ion-item class="field-item half">
        <ion-label position="stacked">Height</ion-label>
        <div class="input-with-unit">
          <ion-input type="number" placeholder="170"></ion-input>
          <span class="unit-pill">FEET CM</span>
        </div>
      </ion-item>
    </div>

    <ion-item class="field-item">
      <ion-label position="stacked">Gender</ion-label>
      <ion-select placeholder="Male" interface="popover" toggle-icon="chevron-down-outline">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="row-fields">
      <ion-item class="field-item half">
        <ion-label position="stacked">Age</ion-label>
        <ion-input type="number" placeholder="25"></ion-input>
      </ion-item>

      <ion-item class="field-item half">
        <ion-label position="stacked">Level IMC</ion-label>
        <ion-input placeholder="IMC"></ion-input>
      </ion-item>
    </div>

    <ion-button fill="solid" class="btn-next" routerLink="/tabs/home">
      Save and continue
    </ion-button>
  </div>
</div>
</ion-content>